@charset "utf-8";

div.fixedHeaderTable {
position: relative;
}
div.fixedHeaderTable table {
width:1500;
}
div.fixedHeaderTable tbody {
height: 310px;
overflow-y: auto;
overflow-x: auto;
}
div.fixedHeaderTable table th {
/*background-color:#CCCCCC;font-weight:bold*/
}
div.fixedHeaderTable table td {
/*background-color:#EEEEEE*/
}
div.fixedHeaderTable thead td, div.fixedHeaderTable thead th {
position:relative;
}

/* IE7 hacks */
div.fixedHeaderTable {
*position: relative;
*height: 310px;
*overflow-y: scroll;
*overflow-x: scroll;
*padding-right:16px;
}

div.fixedHeaderTable thead tr {
*position: relative;
_position: absolute;
*top: expression(this.offsetParent.scrollTop-2);
/* *background:none;
background-color:#FFFFFF  */
}

div.fixedHeaderTable tbody {
*height: auto;
*position:absolute;
*top:25px;
}

/* IE6 hacks */
div.fixedHeaderTable {
_width:expression(this.offsetParent.clientWidth-20);
_overflow: auto;
_overflow-y: scroll;
_overflow-x: scroll;
}
div.fixedHeaderTable thead tr {
_position: relative
}
